bcrypt
colorama
contourpy
cycler
fonttools
kiwisolver
matplotlib
more-itertools
numpy
pillow
pygame
PyOpenGL
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
PyYAML
ruamel.appconfig
ruamel.std.argparse
six
